.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0px 8px;
  background-color: var(--color-light);
  min-height: 50vh;
  color: var(--color-primary);
  box-sizing: border-box;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.deckInput {
  flex-basis: 58%;
}

.header button.redetectDraft {
  flex-basis: 20%;
}
.header button {
  flex-basis: 22%;
}

.redetectDraft {
  font-size: 0.8rem;
  font-weight: bold;
  background-color: var(--color-dark);
  color: var(--color-primary);
  padding: 2px 4px;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
}
.redetectDraft:hover {
  background-color: var(--color-primary);
  color: var(--color-light);
}

/* 초안 리스트 */
.draftsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.noDraft {
  text-align: center;
  color: var(--color-secondary);
  font-size: 0.8rem;
  margin-top: 20px;
}

.addBtn {
  background-color: var(--color-dark);
  color: var(--color-primary);
  width: 80%;
  padding: 4px 8px;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom : 5px;
  left: 10%;
}