.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  background-color: var(--color-light);
  min-height: 50vh;
  color: var(--color-primary);
  box-sizing: border-box;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}


.headerButtons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.redetectCard {
  font-size: 0.8rem;
  background-color: var(--color-dark);
  color: var(--color-primary);
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
}
.redetectCard:hover {
  background-color: var(--color-primary);
  color: var(--color-light);
}
.scanRuleName {
  font-weight: bold;
  color: var(--color-hyperlink);
}

/* 카드 리스트 */
.cardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.noCard {
  text-align: center;
  color: var(--color-secondary);
  font-size: 0.8rem;
  margin-top: 20px;
}

/* 각 카드 */
.detectedCardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light);
  gap: 8px;
  padding: 2px 4px;
  border-radius: 12px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-dark);
  cursor: pointer;
}
.detectedCardContainer:hover {
  border-color: var(--color-hyperlink);
}
.detectedCardContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  font-size: 1rem;
  color: var(--color-primary);
  margin-top: 5px;
  margin-bottom: 5px;
}

.front {
  margin: 3px;
  word-wrap: break-word;
}

.back {
  margin: 3px;
  word-wrap: break-word;
  color: var(--color-secondary);
}

.detectedCardContainer input {
  flex-shrink: 0;
}
.detectedCardContainer .delButton{
  flex-shrink: 0;
}

/* ⨁ 추가 버튼 */
.delButton {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-primary);
  cursor: pointer;
  user-select: none;
  padding: 6px;
  border-radius: 6px;
  transition: background-color 0.2s;
}
.addCardButton:hover {
  background-color: var(--color-primary);
  color: var(--color-light);
}
