.tags{
  margin: 2px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;     
  overflow-y: hidden;
  display: flex;
  font-size: 0.5rem;
  align-items: center;
}
.tag{
  border-radius: 15%;
  border-color: var(--color-primary);
  padding: 2px 3px;
  margin: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  min-width: 25px;
}

.tagInput{
  min-width: 25px;
  border: none;
  max-width: 8em;
  padding: 2px 3px;
  margin: 2px;
  line-height: 1;
  field-sizing: content;
  border: 2px dashed var(--color-primary);
  color: var(--color-primary);
  font-size: 0.5rem;
}
.tagInput:focus{
  outline: none;
}
.tagAdder{
  text-align: center; 
  cursor: pointer;
  line-height: 1;
  margin: 0px 3px;
  border-radius: 15%;
}