.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-top: 8px;
}

.buttonGroup{
  display: flex;
  gap: 12px;
  justify-content: space-around;
  bottom: 6px;
  position: fixed;
}