
body {
  font-family: sans-serif;
  background: var(--color-light);
  height: 100vh;
  margin: 0;
}
body > .root {
  height: 100%;
}
.main {
  text-align: center;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  display: flex;
}
.main-content {
  flex: 1;
  position: relative;
  overflow-y: auto;
  padding-top: 8px;
  min-height: 0;
}