.previewContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.previewWrapper{
  border-style: solid;
  border-radius: 12px;
  border-width: 1px;
  border-color: var(--color-secondary);
  width: 100%;  
  min-height: 200px;
  overflow: auto;
  resize: vertical;
}
.previewWrapper .preview{
  width: 100%;
  min-height: 200px; 
  border: none;   
}
.safeMode{
  all: initial;
  contain: content;
  isolation: isolate;
  transform: translate(0,0);
}
.modeSelector{
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 12px;
}