.container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  background-color: var(--color-light);
  color: var(--color-primary);
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 2px 6px -2px var(--color-secondary);
  align-items: center;
  width: var(100%-10px);
  padding-left: 5px;
  padding-right: 5px;
}
.header h2 {
  word-wrap: break-word;
  text-align: start;
  color: var(--color-primary);
}
.content{
  flex: 1;
  padding: 6px;
  box-sizing: border-box;
}


/* Settings Form */
.settingsForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.formGroup label {
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--color-primary);
}

.input, .select, .textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--color-dark);
  border-radius: 6px;
  font-size: 0.7rem;
  background: var(--color-dark);
  box-sizing: border-box;
}
.fakeLabel {
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--color-primary);
  width: 100%;
}
.modBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.addBtn {
  background-color: var(--color-dark);
  color: var(--color-primary);
  width: 80%;
  padding: 4px 8px;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom : 5px;
  left: 10%;
}