.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.left-pointer{
  font-size: 45px;
  text-align: left;
  color: var(--color-light);
  animation: moveLeftAndBack 1s ease-in-out infinite;  
  width: 100%;
  margin-left: 15px;
}
.pointers {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow-y: hidden;
}
.instruction-box{
  color: var(--color-dark);
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100%;
  flex: 1;
}
.instruction-box ul,ol{
  padding-inline-start: 15px;
}
.instruction-box h1,h2,h3,h4{
  margin: 5px 0;
}

@keyframes moveLeftAndBack {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}