
.highlight {
  position: absolute;
  pointer-events: none;
  z-index: 999999;
  /* inline styled to force style vs web page. */
  /* background-color: rgba(173, 216, 230, 0.5) !important;
  border: 2px solid var(--color-hyperlink) !important; */ 
  box-sizing: border-box;
}
.selectorHighlight {
  position: absolute;
  pointer-events: none;
  z-index: 999999;
  /* inline styled to force style vs web page. */
  /* border: 2px solid var(--color-on) !important;
  border-color: var(--color-on) !important; */
  box-sizing: border-box;
}
.rootTagHighlight {
  position: absolute;
  pointer-events: none;
  z-index: 999999;
  /* inline styled to force style vs web page. */
  /* border: 2px solid var(--color-danger) !important;
  border-color: var(--color-danger) !important; */
  box-sizing: border-box;
}
.extension-tooltip{
  position: fixed;
  z-index: 1000000;
  padding: 5px 10px;
  background-color: var(--color-light) !important;
  color: var(--color-primary) !important;
  border-radius: 4px !important;
  pointer-events: none;
  font-size: 1em !important;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.menu {
  position: fixed;
  z-index: 1000001;
  background-color: var(--color-light) !important;
  border: 1px solid var(--color-secondary);
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  flex-direction: column;
  pointer-events: auto;
  min-width: 200px;
  max-width: 300px;
  max-height: 500px;
  padding: 5px;
  font-family: sans-serif !important;
  font-size: 1em !important;
  color: var(--color-primary) !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  font-weight: bold !important;
  font-size: 1.2em !important;
  padding: 8px 12px;
  color: var(--color-primary ) !important;
  border-bottom: 1px solid var(--color-primary) !important;
  margin-bottom: 5px;
}
.menu button {
  display: block;
  width: 100%;
  padding: 8px 12px;
  border: none;
  background: transparent;
  text-align: left;
  cursor: pointer;
  color: var(--color-secondary) !important;
  border-bottom: 1px solid var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  font-size: 1em !important;
}

.menu button:hover {
  background: var(--color-light) !important;
}

.my-confirm {
  display: flex;
  flex-direction: column;  
  
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000002;
  padding: 5px 10px;
  
  background-color: var(--color-light) !important;
  color: var(--color-primary) !important;
  border-radius: 4px !important;
 
  max-width: 500px;
  min-height: 100px;
  width: 50%;

  font-size: 1.2rem !important;  
  pointer-events: auto !important;
  
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.my-confirm .buttons{
  display: flex;
  position: absolute;
  justify-content: space-around;
  width: 100%;
  bottom: 10px;
}

.my-confirm .buttons * {
  padding-left: 5px;
  padding-right: 5px;
}