.footer{
    width: 100%;
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: bottom;
    position: absolute;
    bottom: 3px;   
    height: 30px;
}

.addAnkiCardButton{
    cursor: pointer; 
    border: none;
    outline: none;
    background-color: transparent;
}
.addAnkiCardButton svg{
    width: 36px;
    height: 36px;
    bottom: 3px;
    filter: drop-shadow(3px 3px 2px #333);
}
.addAnkiCardButton.clicked svg{
    filter: none;
}
.deckSelector{
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    left: 5px;
}