:root {
  --color-primary: #2d4053;
  --color-secondary: #61758a;
  --color-dark: #e2e6ec;
  --color-light: #ffffff;
  --color-danger: #dc5757;
  --color-warning: #efff74;
  --color-on: #68d952;
  --color-off: #61758a;
  --color-hyperlink: #81b1e1;
}
body {
  font-family: sans-serif;
  background: var(--color-light);
  height: 100vh;
  margin: 0;
}
body > .root {
  height: 100%;
}
.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.main {
  text-align: center;
  height: 100%;
}
.main-content {
  position: relative;
  overflow: auto;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.badge {
  border-radius: 18px;
  background-color: var(--color-hyperlink);
  font-size: x-small;
  padding-left: 2px;
  padding-right: 2px;
  word-wrap: normal;
  color: var(--color-light)
}
