:root {
  --color-primary: #2d4053;
  --color-secondary: #61758a;
  --color-dark: #e2e6ec;
  --color-light: #ffffff;
  --color-danger: #dc5757;
  --color-warning: #efff74;
  --color-on: #68d952;
  --color-off: #61758a;
  --color-hyperlink: #81b1e1;
  --font-size-base: 100%; /* 16px : 1rem */
}

html.font-small { font-size: 87.5%; }
html.font-normal { font-size: 100%; }
html.font-large { font-size: 112.5%; }
html.font-very-large { font-size: 125%; }

[data-theme="dark"] {
  --color-primary: #cbd1d7;
  --color-secondary: #a4abb4;
  --color-dark: #3e3e3f;
  --color-light: #575454;
  --color-danger: #e96767;
  --color-warning: #f0fd88;
  --color-on: #7ae065;
  --color-off: #8599ae;
  --color-hyperlink: #9cc7f1;
}
option {
  background-color: var(--color-dark);
  color: var(--color-primary);
}

input, select, textarea {
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  color: var(--color-primary);
  border-radius: 4px;
}
.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.badge {
  border-radius: 18px;
  background-color: var(--color-hyperlink);
  font-size: 1rem;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 3px;
  word-wrap: normal;
  color: var(--color-light)
}
.toggle {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-hyperlink);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: var(--color-light);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--color-warning);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-warning);
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
